<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <!--   
	The feature to store images in Blobstore uses code taken from the BlobStore Tutorial
 	written by the blogger "fishbone":
 	http://www.fishbonecloud.com/2010/12/tutorial-gwt-application-for-storing.html
    -->

  <!-- Servlets -->
  <servlet>
    <servlet-name>messageStoreServlet</servlet-name>
    <servlet-class>edu.gac.mcs270.messageboard.server.MessageStoreImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>messageStoreServlet</servlet-name>
    <url-pattern>/messageboard/MessageStore</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>blobServlet</servlet-name>
    <servlet-class>edu.gac.mcs270.messageboard.server.BlobServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>edu.gac.mcs270.messageboard.server.UploadServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>blobServlet</servlet-name>
    <url-pattern>/messageboard/blobservice</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/messageboard/uploadservice</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MessageBoard.html</welcome-file>
  </welcome-file-list>

</web-app>
